<div class="tab-pane" id="tab-friends-2">
  <p class="lead">People whom you share.</p>
  <% if current_user.friendships.empty? %>
    <p>You have no sharing.</p>
  <% else %>
    <table class="table table-hover friendships-table">
      <tbody>
        <% current_user.friendships.each do |sharingship| %>
          <tr id="<%= dom_id(sharingship) %>">
            <td class="friendships-tableavatar"><%= image_tag gravatar_url(sharingship.friend, 30), :class => "img-polaroid" %></td>
            <td class="friendships-tablename">
              <% if current_user.isSharer(sharingship.friend) %>
                <%= link_to sharingship.friend.full_name, user_path(sharingship.friend) %>
              <% else %>
                <%= sharingship.friend.first_name %> <%= sharingship.friend.last_name %>
              <% end %>
            </td>
            <td>
              <%= link_to "Sharing".html_safe, sharingship, :method => :delete, :remote => true, :class => "btn btn-social btn-remove btn-unsocial friendships-btn" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>