<div class="page-header global-bigger">
  <div class="row">
    <div class="span3">
      <%= image_tag gravatar_url(@user, 165), :id => "user-avatar" %>
    </div>
    <div class="span3">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <div id="user-generalinfos">
        <% if(!@user.age.nil?) %>
          <p><%= @user.age %> years old</p>
        <% end %>
        <!-- <p>TODO SEX</p> -->
      </div>
    </div>
    <div class="span3">
      <p>
        <%= link_to "<i class=\"icon-map-marker\"></i>&nbsp;&nbsp;World Map".html_safe, user_pins_path(@user), :class => "btn btn-large btn-map user-buttonsunify" %>
      </p>
      <% if current_user != @user %>
        <% if !current_user.isSharing(@user) %>
          <p>
            <%= link_to "<i class=\"icon-heart\"></i>&nbsp;&nbsp;Share".html_safe, friendships_path(:friend => @user), :method => :post, :class => "btn btn-large btn-social user-buttonsunify" %>
          </p>
        <% else %>
          <p>
            <% sharingship = current_user.friendships.where(:friend_id => @user.id).first %>
            <%= link_to "Sharing".html_safe, sharingship, :method => :delete, :class => "btn btn-large btn-social btn-remove btn-unsocial user-buttonsunify" %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="span3">
      <div>
        <h2>Friends&nbsp;<i class="icon-signal"></i></h2>
        <p>Sharing <b><%= @user.number_sharing %></b></p>
        <p>Sharers <b><%= @user.number_sharers %></b></p>
      </div>
      <div style="margin-top: 20px">
        <h2>Travel&nbsp;<i class="icon-signal"></i></h2>
        <p>Locations <b><%= @user.number_locations %></b></p>
        <p>Countries <b><%= @user.number_countries %></b></p>
        <p></p>
      </div>
    </div>
  </div>
</div>