<div id="comments" class="container-fluid">
  <% if @comments.empty? %>
    <strong>No comment</strong>
  <% else %>
      <% @comments.each do |comment| %>
        <%= render comment, :comment => comment %>
      <% end %>
  <% end %>

  <p class="lead map-shareytho">Share your thoughts</p>
  <div class="row">
    <div class="span4">
      <%= simple_form_for [@pin, Comment.new] do |c| %>
        <%= c.input :value, :label => false %>
        <%= c.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= c.input :pin_id, :as => :hidden, :input_html => { :value => @pin.id } %>
        <%= c.button :submit, 'Comment', :class => 'btn btn-small btn-social map-btncomment' %>
      <% end %>
    </div>
    <div class="span1"><%= image_tag gravatar_url(current_user, 40), :class => 'img-polaroid' %></div>
  </div>

</div>