<div class="map-commentcontainer">
  <% if comments.empty? %>
    <p class="lead">No comment</p>
  <% else %>
      <% comments.each do |comment| %>
        <div class="map-comment">
          <%= image_tag gravatar_url(comment.user, 40), :class => 'img-polaroid' %>
          <blockquote>
            <p><%= comment.value %></p>
            <small>
              <%= link_to comment.user.full_name, user_path(comment.user) %> (<%= comment.created_at.to_formatted_s(:long_ordinal) %>)
            </small>
          </blockquote>
        </div>
      <% end %>
  <% end %>

  <%= simple_form_for comment do |c| %>
    <%= c.input :value, :label => 'Share your thoughts', :label_html => { :class => 'lead' } %>
    <%= c.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= c.input :location_id, :as => :hidden, :input_html => { :value => @pin.id } %>
    <%= c.button :submit, 'Comment', :class => 'btn btn-social' %>
  <% end %>
  <%= image_tag gravatar_url(current_user, 40), :class => 'img-polaroid' %>
</div>