<div id="userModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="userModalLabel"><%= @user.full_name %> <small><%= "("+@user.age.to_s+" years old)" unless @user.age.nil? %></small></h3>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td><%= image_tag gravatar_url(@user, 165), :class => "img-polaroid" %></td>
        <td style="padding-left: 60px">
          <h4><i class="icon-signal"></i> Friends</h4>
          <table>
            <tr>
              <td><span class="badge badge-social"><%= @user.number_sharing %></span>&nbsp;</td>
              <td><strong>Sharing</strong></td>
            </tr>
            <tr>
              <td><span id="map-user-numbersharers" class="badge badge-social"><%= @user.number_sharers %></span></td>
              <td><strong id="map-user-labelsharers"><%= "Sharer".pluralize(@user.number_sharers) %></strong></td>
            </tr>
          </table>
          </ul>
        </td>
        <td style="padding-left: 40px">
          <h4><i class="icon-signal"></i> Travel</h4>
          <table>
            <tr>
              <td><span class="badge badge-map"><%= @user.number_pins %></span>&nbsp;</td>
              <td><strong><%= "Pin".pluralize(@user.number_pins) %></strong></td>
            </tr>
            <tr>
              <td><span class="badge badge-map"><%= @user.number_countries %></span></td>
              <td><strong><%= "Country".pluralize(@user.number_countries) %></strong></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div id="map-user-modalfoot" class="modal-footer">
    <% if @user == current_user %>
      <p>That's you! Yeah really.</p>
    <% else %>
      <% if current_user.isSharing(@user) %>
        <p>You're currently sharing with <%= @user.first_name %>.</p>
        <% friendship = current_user.friendships.where(:friend_id => @user.id).first %>
        <%= link_to "<i class=\"icon-heart\"></i>&nbsp;&nbsp;Sharing".html_safe, friendship_path(friendship, :caller => "usermodal"), :method => :delete, :remote => true, :class => "btn btn-social btn-unsocial mapuser-btn" %>
      <% else %>
        <p>You do not currently share with <%= @user.first_name %>.</p>
        <%= link_to "Share".html_safe, friendships_path(:friend => @user, :caller => "usermodal"), :method => :post, :remote => true, :class => "btn btn-social mapuser-btn" %>
      <% end %>
    <% end %>
  </div>
</div>