<% content_for :page_title do %> - Resend confirmation instructions<% end %>

<div class="hero-unit">
  <h1>Bad things happen..</h1>
  <p>
    If you want to receive the confirmation instructions one more time, please fill your email address and click "Send".
  </p>
</div>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
