<% content_for :page_title do %> - Resend confirmation instructions<% end %>

<div class="hero-unit">
  <h1>To err is not necessarily human..</h1>
  <p>
    If you did not receive the confirmation instructions, please fill your email address and click "Send".
  </p>
</div>

<div>
  <%= devise_error_messages! %>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'well form-inline' }) do |f| %>

  <%= f.input_field :email, :class => 'input-large', :placeholder => 'Email' %>
  <%= f.submit "Send", :class => 'btn btn-primary' %>

<% end %>

<%= render "devise/shared/links" %>