<p id="notice"><%= notice %></p>

<p>
  <b>Logpage:</b>
  <%= @assignment.logpage_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @assignment.tag_id %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
