<% content_for :page_title do %><%= current_user.first_name %>'s Settings<% end %>

<div class="alert alert-error fp-fail phantom">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong> Something went wrong while adding your avatar. <br><em>Please try again later</em>.
</div>

<div class="page-header">
  <h1>Settings <small>Everything you can tweak.</small></h1>
</div>


<h2>General settings</h2>
<div class="row">
  <div class="span9">
    <h3>Informations</h3>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well form-horizontal"}) do |f| %>
      
      <%= f.input :first_name, :label => 'First name <i class="icon-globe"></i>' %>
      <%= f.input :last_name, :label => 'Last name <i class="icon-globe"></i>' %>
      <%= f.input :birth, :label => 'Birth <i class="icon-globe"></i>', :as => :date, 
                                  :start_year => Date.today.year - 100,
                                  :end_year => Date.today.year - 12,
                                  :order => [:day, :month, :year],
                                  :input_html => { :style => "width: 120px" } %>
      <%= f.input :password, :label => 'New password', :autocomplete => "off", :hint => "Leave blank if you don't want to change it." %>
      <%= f.input :password_confirmation, :label => 'Confirm new password', :autocomplete => "off", :hint => "Leave blank if you don't want to change it." %>
      <%= f.input :current_password, :hint => "We need your current password to confirm your changes." %>
      
      <div class="form-actions">
        <%= f.submit "Modify", :class => "btn btn-map btn-block" %>
      </div>
    <% end %>

    <dl class="dl-horizontal">
      <dt>Public (<i class="icon-globe"></i>)</dt>
      <dd>Everyone can see this information.</dd>
    </dl>
  </div>
  <div class="span3">
    <h3 id="profile-photo">Profile photo <small><i class="icon-globe"></i></small></h3>
    <div class="avatar">
      <%= image_tag avatar_url(current_user, 205), :class => "img-polaroid" %>
      <div class="phantom">
        <%= link_to content_tag("i", "", :class => "icon-cloud-upload")+" Pick", new_avatar_path, :remote => true, :class => "btn btn-tool btn-block" %>
      <%= link_to content_tag("i", "", :class => "icon-off")+" Use Gravatar", avatar_path(current_user.avatar), :method => :delete, :class => "btn btn-tool btn-block" if !current_user.avatar.nil? %>
      </div>
    </div>

    <h3 class="side-title">Account deletion</h3>
    <p>
      We hope you go away only so that you can come back later.
      <%= link_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?", :beware => "<li>All your pins will be removed.</li><li>All informations associated with your pins will be removed.</li><li>Your comments on the pins of your friends will remain as &laquo;Castaway&raquo;.</li>" }, :method => :delete, :class => "btn btn-confirm btn-block btn-mini" %>
    </p>
  </div>
</div>