<% content_for :page_title do %><%= current_user.first_name %>'s Settings<% end %>

<div class="page-header">
  <h1>Settings <small>Everything you can tweak.</small></h1>
</div>


<h2>General settings</h2>
<div class="row">
  <div class="span9">
    <h3>Informations</h3>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well form-horizontal"}) do |f| %>
      
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :birth, :as => :date, :start_year => Date.today.year - 600,
                                  :end_year => Date.today.year - 12,
                                  :order => [:day, :month, :year],
                                  :input_html => { :style => "width: 120px" } %>
      <%= f.input :password, :autocomplete => "off", :hint => "Leave blank if you don't want to change it." %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password, :hint => "We need your current password to confirm your changes." %>
      
      <div class="form-actions">
        <%= f.submit "Modify", :class => "btn btn-crud" %>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <h3>Profile photo</h3>
    <%= image_tag gravatar_url(current_user, 205), :class => "img-polaroid" %>
    <p>
      <b><%= Appetizer.appname %></b> uses <a href="#" rel="tooltip" title="Gravatar allows you to bind your email address with an avatar / profile photo.">Gravatar</a> to display your profile photo, more informations <%= link_to "here", "http://en.gravatar.com" %>.
    </p>

    <h3>Account deletion</h3>
    <p>Unhappy? <%= link_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?", :beware => "<li>All your pins will be removed.</li><li>All your galleries will be removed.</li><li>All your logbooks will be removed.</li><li>All comments associated with your pins will be removed.</li><li>Your comments will remains as 'anonymous author'.</li>" }, :method => :delete %>.</p>
  </div>
</div>


<h2>Services settings</h2>

<p class="lead">You can add services to improve <%= Appetizer.appname %> features.</p>

<div class="service well">
  <strong>Dropbox</strong>
  <p><%= image_tag "services/dropbox.png", :class => "img-circle" %></p>
  <p>
    <% if current_user.accesstoken.blank? %>
      <%= link_to content_tag("i", "", :class => "icon-plus-sign")+" Add Dropbox", authorize_accesstokens_path, :class => "btn btn-crud" %>
    <% else %>
      <a href="#" class="btn btn-large account" rel="tooltip" data-placement="top" data-original-title="<%= current_user.accesstoken.account %>">
        <i class="icon-user"></i>
      </a>
      <%= link_to content_tag("i", "", class: "icon-remove-sign"), accesstoken_path(current_user.accesstoken), :class => "btn btn-tool btn-small btn-remove", :method => :delete, :confirm => "Unlinking Dropbox will also remove the related galleries, photos will stay on your Dropbox. Are you sure?" %>
    <% end %>
  </p>
</div>

<p class="clearfix"></p>
<dl class="dl-horizontal">
  <dt>Dropbox</dt>
  <dd>Dropbox allows you to add galleries to your pins.</dd>
</dl>