<% content_for :page_title do %> - Modify <%= @user.first_name %>'s profile<% end %>

<div class="page-header">
  <h1>Modify Profile <small><%= @user.first_name %>'s profile</small></h1>
</div>

<div class="row">
  <div class="span10">
    <h2>General informations</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'well form-horizontal'}) do |f| %>
      
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :birth, :as => :date, :start_year => Date.today.year - 600,
                                  :end_year => Date.today.year - 12,
                                  :order => [:day, :month, :year] %>
      <%= f.input :password, :autocomplete => "off", :hint => 'Leave blank if you don\'t want to change it.' %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password, :hint => 'We need your current password to confirm your changes.' %>
      
      <div class="form-actions">
        <%= f.submit "Modify", :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="span2">
    <h2>Profile photo</h2>
    <%= image_tag gravatar_url(@user, 150) %>
    <p><b><%= Appetizer.appname %></b> uses <a href="#" rel="tooltip" title="Gravatar allows you to bind your email address with an avatar / profile photo.">Gravatar</a> to display your profile photo, more informations <%= link_to "here", "http://en.gravatar.com" %>.
  </div>
</div>

<h3>Delete my account</h3>
<p>Unhappy? <%= link_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure? This is irreversible and all of your data will be lost." }, :method => :delete %>.</p>