<% content_for :page_title do %>Sign up<% end %>

<%= render "devise/shared/note" %>

<div class="hero-unit">
  <h1><%= Appetizer.appname %>, quesako?</h1>
  <p><%= Appetizer.appname %> allows you to create a worldmap of the places you've visited with photos & comments and let you share it with friends and family.</p>
</div>

<% if User.count >= User.beta_limit %>
  <p class="well"><span class="badge badge-social">Closed</span> <strong>Sorry registrations are now closed.</strong></p>
<% else %>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well form-inline"}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input_field :first_name, :class => "input-medium", :placeholder => "First name" %>
    <%= f.input_field :last_name, :class => "input-medium", :placeholder => "Last name" %>
    <%= f.input_field :email, :class => "input-medium", :placeholder => "Email" %>
    <%= f.input_field :password, :class => "input-medium", :placeholder => "Password" %>
    <%= f.input_field :password_confirmation, :class => "input-medium", :placeholder => "Confirm password" %>
    <p>
      <label class="checkbox home-terms">
        <%= check_box(:user, "terms") %> I accept the <%= Appetizer.appname %> - <a href="/tos" target="_blank" >Terms of Service</a>
      </label>
    </p>
    <%= f.submit "Sign up", :class => "btn btn-social btn-large btn-block" %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>