%ul{:class => "dropdown-menu pins", :id => "pins", :role => "menu", "aria-labelledby" => "dropdownMenu"}
	- @pins.each do |pin|
		%li{:class => "#{pin_class(pin.type)}-type", :id => "#{dom_id(pin)}"}
			%a{:href => "#", :tabindex => "-1", :data => { :id => "#{pin.id}" }}
				%i{:class => "icon-map-marker #{pin_class(pin.type)}"}
				%strong= pin.title
				%span.smaller
					= pin.country_name
					-
					= pin.photos.count
					%i.icon-camera-retro
					%span{:class => "comments-count #{pin.id}"}= pin.comments.count
					%i.icon-comments