<tr id="<%= dom_id(pin) %>" data-locategory="<%= pin.locategory_id %>">
  <td><%= link_to image_tag("flags/"+pin.country_code.downcase+".png"), "", :rel => "tooltip", :title => pin.country_name %> <strong><%= pin.title %></strong></td>
  <td>
    <%= pin.short_lat %>&deg; &phi;, 
    <%= pin.short_lon %>&deg; &lambda;
  </td>
  <td>
    <%= link_to content_tag("i", "", class: "icon-book"), captain_pin_logpages_path(pin), :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Captain #{pin.title}'s logbook" %>
  </td>
  <td>
    <%= link_to content_tag("i", "", class: "icon-edit")+" Edit", edit_pin_path(pin), :class => "btn btn-mini btn-map" %>
    <%= link_to content_tag("i", "", class: "icon-trash")+" Remove", pin_path(pin), :method => :delete, :class => "btn btn-mini btn-map btn-remove", :data => { :confirm => "Are you sure you want to remove #{pin.title}?", :beware => "<li>#{pin.title}'s logbook will be removed</li><li>#{pin.title}'s comments will be removed</li>" } %>
  </td>
</tr>