<div id="pins">
  <table class="table stats">
    <tr>
      <td><b><%= @pins.count %> <i class="icon-map-marker"></i></b></td>
      <td><b><%= @pins.city.count %> <i class="icon-map-marker city"></i></b></td>
      <td><b><%= @pins.town.count %> <i class="icon-map-marker town"></i></b></td>
      <td><b><%= @pins.poi.count %> <i class="icon-map-marker poi"></i></b></td>
    </tr>
  </table>
  <table class="table table-striped">
    <%= render :partial => "pins/pin", :collection => @pins, :as => :pin %>
  </table>
</div>