<%= content_tag_for(:tr, pin, :class => pin.type) do %>
  <td>
    <h2><%= pin.title %> <small><%= pin.country_name %></small> <%= content_tag(:i, "", :class => "icon-upload") if pin.high_populated? %></h2>
    <div class="btn-group accessors">
      <%= tools_btn(pin, "btn-mini", false) %>
      <button class="btn btn-locate <%= pin.get_btn %> btn-mini" data-lat="<%= pin.latitude %>" data-lon="<%= pin.longitude %>" data-zoom="12"><i class="icon-map-marker"></i></button>
    </div>
  </td>
  <td>
    <% if (can? :manage, pin) && (@herald.nil?) %>
      <%= render "pins/captain", :pin => pin %>
    <% end %>
  </td>
<% end %>