<tr class="<%= pin.type %>">
  <td>
    <h2><%= pin.title %> <small><%= pin.country_name %></small> <%= content_tag(:i, "", :class => "icon-upload") if pin.high_populated? %></h2>
    <div class="btn-group accessors">
      <%= tools_btn(pin, "btn-mini", false) %>
      <button class="btn btn-locate <%= pin.get_btn %> btn-mini" data-lat="<%= pin.latitude %>" data-lon="<%= pin.longitude %>" data-zoom="12"><i class="icon-map-marker"></i></button>
    </div>
  </td>
  <td>
    <div class="btn-group">
      <a class="btn btn-mini btn-map dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-pencil"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">
        <li><a tabindex="-1" href="#"><i class="icon-edit"></i>Photos</a></li>
        <li><a tabindex="-1" href="#"><i class="icon-edit"></i>Logbook</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#"><i class="icon-map-marker"></i>Set Town</a></li>
        <li><a tabindex="-1" href="#"><i class="icon-map-marker"></i>Set Point of interest</a></li>
        <li class="divider"></li>
        <li>
          <%= link_to content_tag("i", "", :class => "icon-trash")+" Remove", pin_path(pin), :method => :delete, :data => { :confirm => "Are you sure you want to remove #{pin.title}?", :beware => "<li>#{pin.title}'s logbook will be removed</li><li>#{pin.title}'s comments will be removed</li>" }, "tabindex" => "-1" %>
        </li>
      </ul>
    </div>
  </td>
</tr>