<div id="side-pins">
  <table class="table stats">
    <tr>
      <td><b><span class="pins-count"><%= @pins.count %></span> <a rel="tooltip" title="Pins" data-placement="bottom"><i class="icon-map-marker"></i></a></b></td>
      <td><b><span class="city-count"><%= @pins.city.count %></span> <a rel="tooltip" title="Cities" data-placement="bottom"><i class="icon-map-marker city"></i></a></b></td>
      <td><b><span class="town-count"><%= @pins.town.count %></span> <a rel="tooltip" title="Towns" data-placement="bottom"><i class="icon-map-marker town"></i></a></b></td>
      <td><b><span class="poi-count"><%= @pins.poi.count %></span> <a rel="tooltip" title="Points of interest" data-placement="bottom"><i class="icon-map-marker poi"></i></a></b></td>
    </tr>
  </table>
  <table class="table table-striped">
    <%= render :partial => "pins/side-pin", :collection => @pins, :as => :pin %>
  </table>
</div>