<tr class="<%= pin.type %>">
  <td>
    <p>
      <h2><%= pin.title %> <small><%= pin.country_name %></small></h2>
    </p>
    <div class="btn-group">
      <%= tools_btn(pin, "btn-mini", false) %>
      <button style="min-width:45px" class="btn btn-locate <%= pin.get_btn %> btn-mini" data-lat="<%= pin.latitude %>" data-lon="<%= pin.longitude %>" data-zoom="12"><i class="icon-map-marker"></i></button>
    </div>
  </td>
</tr>