<%= content_tag_for(:tr, pin, :class => pin.type) do %>
	<td style="vertical-align:middle">
		<button class="btn btn-locate <%= pin.get_btn %>" data-id="<%= pin.id %>"><i class="icon-map-marker"></i></button>
	</td>
  <td>
    <h2><%= pin.title %> <%= content_tag(:i, "", :class => "icon-upload") if pin.high_populated? %></h2>
    <p class="country"><%= pin.country_name %></p>
    <p class="lead">
    	<%= pin.photos.count %> <i class="icon-camera-retro"></i>
    	<%= pin.comments.count %> <i class="icon-comments"></i>
    </p>
  </td>
  <td>
    <% if (can? :manage, pin) && (@herald.nil?) %>
      <%= render "pins/captain", :pin => pin %>
    <% end %>
  </td>
<% end %>