<!-- Called by the listModal of user profile -->
<% if pins.empty? %>
  <p class="lead">No pin</p>
<% else %>
  <table class="table table-striped table-condensed">
    <tbody>
      <% pins.each do |pin| %>
        <tr>
          <td style="width: 50%">
            <a rel="tooltip" title="<%= pin.country_name %>" data-placement="right"><%= image_tag("flags/"+pin.country_code.downcase+".png", :width => 12) %></a> <strong><%= pin.title %></strong>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to pin.comments_count+" "+content_tag("i", "", class: "icon-comment"), pin_comments_path(pin), :class => "btn btn-mini btn-tool map-btnunify btn-list", :rel => "tooltip", :title => "Comments", :remote => true %>
              <%= link_to pin.logpages_count+" "+content_tag("i", "", class: "icon-book"), pin_logpages_path(pin), :class => "btn btn-mini btn-tool map-btnunify btn-list", :rel => "tooltip", :title => "Logbook", :remote => true %>
            </div>
            <%= link_to content_tag("i", "", class: "icon-map-marker"), "#", :class => "btn btn-mini btn-map map-btnunify btn-list map-tooltipzoom", :rel => "tooltip", :title => "Locate", "data-lat" => pin.latitude, "data-lon" => pin.longitude %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>