<% content_for :page_title do %><%= @user.first_name %>'s Pins<% end %>

<div class="page-header">
  <h1>Your Pins <small>Manage them all!</small></h1>
</div>

<%= form_tag("pins/new", :method => "get", :class => "well form-inline") do %>
  <p><strong>Simply specify location's name to add a pin.</strong></p>
  <%= text_field_tag(:q, nil, :class => "input-large", :placeholder => "Name") %>
  <%= button_tag "<i class=\"icon-plus-sign\"></i>&nbsp;&nbsp;Add".html_safe, :class => "btn btn-map", :value => "add" %>
<% end %>

<h2>Current pins</h2>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul id ="pins-toolstabs" class="nav nav-tabs">
    <li class="active"><a href="#bigcity" data-toggle="tab"><b><%= image_tag(Locategory.bigcity_marker_path, :width => "15") %> Big City</b></a></li>
    <li><a href="#smallcity" data-toggle="tab"><b><%= image_tag(Locategory.smallcity_marker_path, :width => "15") %> Small City</b></a></li>
    <li><a href="#pointofinterest" data-toggle="tab"><b><%= image_tag(Locategory.pointofinterest_marker_path, :width => "15") %> Point of Interest</b></a></li>
  </ul>
  <div id="pins" class="tab-content">
    <div class="tab-pane active" id="bigcity">
      <%= render "pins/pins_table", :pins => @big_cities %>
    </div>
    <div class="tab-pane" id="smallcity">
      <%= render "pins/pins_table", :pins => @small_cities %>
    </div>
    <div class="tab-pane" id="pointofinterest">
      <%= render "pins/pins_table", :pins => @points_of_interest %>
    </div>
  </div>
</div>