<% content_for :page_title do %><%= @user.first_name %>'s Pins<% end %>

<div class="page-header">
  <h1>Your Pins <small>Captain them all!</small></h1>
</div>

<%= form_tag("pins/new", :method => "get", :class => "well form-inline") do %>
  <p><strong>Simply specify location's name to add a pin.</strong></p>
  <%= text_field_tag(:q, nil, :class => "input-large", :placeholder => "Name") %>
  <%= button_tag content_tag("i", "", class: "icon-plus-sign")+" Add", :class => "btn btn-map", :value => "add" %>
<% end %>

<div class="alert alert-tip">
  <strong>Heads up!</strong> You're limited to <%= Pin.limit %> pins in overall and a maximum of <%= Pin.high_populated_limit %> high populated cities (<i class="icon-upload"></i>).
</div>

<h2>Current pins <small><%= @overall.count %> in overall (<%= @overall.high_populated.count %> <i class="icon-upload"></i>)</small></h2>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul id ="pins-toolstabs" class="nav nav-tabs">
    <li class="active"><a href="#bigcity" data-toggle="tab"><b><%= image_tag(Bigcity.marker_path, :width => "20") %> Big City (<%= @big_cities.count %>)</b></a></li>
    <li><a href="#smallcity" data-toggle="tab"><b><%= image_tag(Smallcity.marker_path, :width => "20") %> Small City (<%= @small_cities.count %>)</b></a></li>
    <li><a href="#pointofinterest" data-toggle="tab"><b><%= image_tag(Poi.marker_path, :width => "20") %> Point of Interest (<%= @points_of_interest.count %>)</b></a></li>
  </ul>
  <div id="pins" class="tab-content">
    <div class="tab-pane active" id="bigcity">
      <table class="pins-table table table-hover table-striped">
        <%= render(:partial => "pins/pin", :collection => @big_cities, :as => :pin) || content_tag("p", "No big cities added.", class: "lead empty-set") %>
      </table>
    </div>
    <div class="tab-pane" id="smallcity">
      <table class="pins-table table table-hover table-striped">
        <%= render(:partial => "pins/pin", :collection => @small_cities, :as => :pin) || content_tag("p", "No small cities added.", class: "lead empty-set") %>
      </table>
    </div>
    <div class="tab-pane" id="pointofinterest">
      <table class="pins-table table table-hover table-striped">
        <%= render(:partial => "pins/pin", :collection => @points_of_interest, :as => :pin) || content_tag("p", "No points of interest added.", class: "lead empty-set") %>
      </table>
    </div>
  </div>
</div>
<hr>
<dl class="dl-horizontal">
  <dt>Latitude (&phi;)</dt>
  <dd>Geographic coordinate that specifies the north-south position of a point on the Earth's surface.</dd>
  <dt>Longitude (&lambda;)</dt>
  <dd>Geographic coordinate that specifies the east-west position of a point on the Earth's surface.</dd>
  <dt>High populated (<i class="icon-upload"></i>)</dt>
  <dd>One million or more population.</dd>
</dl>