<% content_for :page_title do %><%= @user.first_name %>'s Worldmap<% end %>

<div id="map"></div>

<div id="map-world" class="map-nav">
  <i class="icon-globe"></i>
</div>

<div id="map-markers" class="map-nav">
  <i class="icon-map-marker"></i>
</div>

<div id="map-countries" class="map-nav">
  <i class="icon-list-alt"></i>
</div>
<ul id="map-countrieslist">
  <% @countries.each do |country| %>
    <li class="map-countryitem" data-north="<%= country["north"]%>" data-east="<%= country["east"]%>" data-south="<%= country["south"]%>" data-west="<%= country["west"]%>">
      <%= country["name"] %>
    </li>
  <% end %>
</ul>

<div id="map-info">
  <%= link_to @user.first_name, user_path(@user) %>'s Worldmap
</div>