<% content_for :page_title do %><%= @user.first_name %>'s Worldmap<% end %>

<!-- Map main element -->
<div id="map"></div>

<!-- Left UI -->
<a id="map-world" class="map-nav map-navleft" rel="tooltip" title="Fit World" data-placement="right">
  <i class="icon-globe"></i>
</a>
<a id="map-markers" class="map-nav map-navleft" rel="tooltip" title="Fit Pins" data-placement="right">
  <i class="icon-map-marker"></i>
</a>
<a id="map-countries" class="map-nav map-navleft" rel="tooltip" title="Fit Country" data-placement="right">
  <i class="icon-list-alt"></i>
</a>

<!-- Left UI countries -->
<ul id="map-countrieslist">
  <% @countries.each do |country| %>
    <li class="map-countryitem" data-north="<%= country["north"]%>" data-east="<%= country["east"]%>" data-south="<%= country["south"]%>" data-west="<%= country["west"]%>">
      <%= country["name"] %>
    </li>
  <% end %>
</ul>

<!-- Right UI -->
<a id="map-bigcity" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Big city' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>
<a id="map-smallcity" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Small city' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>
<a id="map-pointofinterest" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Point of interest' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>

<div id="map-info">
  <%= link_to @user.first_name, user_path(@user) %>'s Worldmap
</div>