<% content_for :page_title do %>Add Pin<% end %>

<div class="page-header">
  <h1>Add Pin <small>Nearly done</small></h1>
</div>

<% if @geos["totalResultsCount"] == 0 %>
  <p><strong>No result found.</strong></p>
<% else %>
  <h2>Pin</h2>
  <div class="well">
    <p><strong>First, you've to choose a category for your pin :</strong></p>
    <div id="pins-types">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn active" value="<%= City.sti_name %>">
          <%= image_tag(City.marker_path, :width => "20") %> <strong>City</strong>
        </button>
        <button type="button" class="btn" value="<%= Town.sti_name %>">
          <%= image_tag(Town.marker_path, :width => "20") %> <strong>Town</strong>
        </button>
        <button type="button" class="btn" value="<%= Poi.sti_name %>">
          <%= image_tag(Poi.marker_path, :width => "20") %> <strong>Point of interest</strong>
        </button>
      </div>
    </div>
  </div>

  <h2>Position</h2>
  <div class="well">
    <p><strong>Now choose your location from results :</strong></p>
    <div class="form-actions">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Area</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Population</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @geos["geonames"].each do |geo| %>
            <% # Filter administrative subdivision for high populated places %>
            <% unless (geo["fcl"] == "A" && geo["population"] > 500000) %>
              <tr>
                <td><%= geo["toponymName"] %></td>
                <td><a rel="tooltip" title="<%= geo["countryName"] %>"><%= image_tag("flags/"+geo["countryCode"].to_s.downcase+".png") %></a></td>
                <td>
                  <% if geo["adminName1"].length > 20 %>
                    <a rel="tooltip" title="<%= geo["adminName1"] %>"><%= truncate(geo["adminName1"], :length => 20) %></a>
                  <% else %>
                    <%= geo["adminName1"] %>
                  <% end %>
                </td>
                <td><%= "%.3f" % geo["lat"] %>&deg;</td>
                <td><%= "%.3f" % geo["lng"] %>&deg;</td>
                <td><%= number_with_delimiter(geo["population"], :delimiter => " ", :separator => ",") %></td>
                <td>
                  <% if geo["fcodeName"].length > 20 %>
                    <a rel="tooltip" title="<%= geo["fcodeName"].capitalize %>"><%= truncate(geo["fcodeName"].capitalize, :length => 20) %></a>
                  <% else %>
                    <%= geo["fcodeName"].capitalize %>
                  <% end %>
                </td>
                <td>
                  <%= link_to content_tag("i", "", class: "icon-plus-sign")+" Add this", pins_path(:ext_id => geo["geonameId"]), :method => :post, :class => "btn btn-mini btn-map pins-addthis" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <p id="pins-ccby">
        All data informations are provided by <%= link_to "GeoNames", "http://www.geonames.org/" %> under <%= link_to "CC BY 2.5", "http://creativecommons.org/licenses/by/2.5/" %>
      </p>
    </div>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to "Cancel", pins_path, :class => "btn btn-other btn-block" %>
</div>