<div class="pin">
	<div class="page-header">
		<h2><%= @pin.title %> <small><%= @pin.country_name %></small></h2>
		<p class="lead">
			<%= @photos.count %> <i class="icon-camera-retro"></i>
			<span class="comments-count <%= @pin.id %>"><%= @comments.count %></span> <i class="icon-comments"></i>
		</p>
		<%= render "pins/captain", :pin => @pin %>
	</div>
	<div class="wrap">
		<div class="photos col">
			<%= render @photos %>
		</div>
		<div class="comments col">
			<div class="inside">
				<%= render @comments %>
			</div>
			<div class="new">
				<%= render "comments/new" %>
			</div>
		</div>
	</div>
</div>