<% content_for :page_title do %><%= @pin.title %> by <%= @user.first_name %><% end %>

<%= render "pins/show/header" %>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul id ="pins-toolstabs" class="nav nav-tabs">
    <li class="active"><a href="#galleries" data-toggle="tab"><b><i class="icon-list-alt"></i> Galleries (0)</b></a></li>
    <li><a href="#logpages" data-toggle="tab"><i class="icon-list-alt"><b></i> Logpages (0)</b></a></li>
    <li><a href="#comments" data-toggle="tab"><i class="icon-list-alt"><b></i> Comments (<%= @pin.comments_count %>)</b></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="galleries">
      <p>--</p>
    </div>
    <div class="tab-pane" id="logpages">
      <%= render "pins/show/logpages" %>
    </div>
    <div class="tab-pane" id="comments">
      <%= render "pins/show/comments" %>
    </div>
  </div>
</div>
