<%= div_for comment do %>
  <div class="avatar">
    <%= image_tag avatar_link(comment.user, 30), :alt => "", :class => "img-polaroid" %>
  </div>
  <div class="text">
    <p>
      <% if (can? :destroy, comment) %>
        <%= link_to content_tag("i", "", :class => "icon-remove-sign"), pin_comment_path(@pin, comment), :method => :delete, :remote => true %>
      <% end %>
      <%= comment.value %>
    </p>
    <small class="author">
      <% if !comment.user.nil? %>
        <%= link_to comment.user.full_name, user_path(comment.user) %>
      <% else %>
        Castaway
      <% end %>
    </small>
    <small class="datetime"><%= comment.date %></small>
  </div>
<% end %>