<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @comment.value %>
</p>

<p>
  <b>Location:</b>
  <%= @comment.location_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
