<a id="plus-zoom" class="control zoom">
  <i class="icon-plus"></i>
</a>
<a id="minus-zoom" class="control zoom">
  <i class="icon-minus"></i>
</a>
<a id="world-zoom" class="control zoom">
  <i class="icon-globe"></i>
</a>
<a id="countries-zoom" class="control zoom">
  <i class="icon-list-alt"></i>
</a>

<ul id="countries-list">
  <% if !@visited_countries.empty? %>
    <% @visited_countries.each do |c| %>
      <li class="country-item" data-north="<%= c["north"]%>" data-east="<%= c["east"]%>" data-south="<%= c["south"]%>" data-west="<%= c["west"]%>">
        <i class="icon-map-marker"></i> <%= c["name"] %>
      </li>
    <% end %>
    <li>------</li>
  <% end %>
  <% @countries_list.each do |c| %>
    <li class="country-item" data-north="<%= c["north"]%>" data-east="<%= c["east"]%>" data-south="<%= c["south"]%>" data-west="<%= c["west"]%>">
      <%= c["name"] %>
    </li>
  <% end %>
</ul>

<!-- Only if via herald or if user is a friend -->
<% if can? :show, @master %>
  <a id="city-filter" class="control pins-filter" data-type="<%= City.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="town-filter" class="control pins-filter" data-type="<%= Town.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="poi-filter" class="control pins-filter" data-type="<%= Poi.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
<% end %>