<div class="info-user img-circle">
  <%= image_tag avatar_url(@user, 120), :class => "img-circle", :data => { :placement => "left", :trigger => "hover", :html => "true", :title => "<strong><i class='icon-trophy'></i> Achievements</strong>", :content => "<ul class='unstyled'><li><span class='badge badge-map info-user-badge'>#{@user.number_pins}</span> <strong>Pins</strong></li> <li><span class='badge badge-map info-user-badge'>#{@user.number_countries}</span> <strong>Countries</strong></li> <li><span class='badge badge-map info-user-badge'>#{@user.number_continents}</span> <strong>Continents</strong></li></ul>" } %>
  <h1><%= @user.full_name %></h1>
  <div id="<%= dom_id(@user) %>"><%= sharing_btn(@user, "btn-mini") %></div>
</div>

<!-- Only if via herald or if user is a friend -->
<% if can? :read, @user %>

  <% if @pins.empty? %>
    <div class="info-center">
      <% if @user == current_user %>
        <p class="lead">You have no pin!</p>
        <%= link_to "Add some", pins_url, :class => "btn btn-map" %>
      <% else %>
        <p class="lead no-margin"><%= @user.first_name %> has no pin.</p>
      <% end %>
    </div>
  <% else %>
    <% content_for :side do %>
      <table class="table stats">
        <tr>
          <td><b><%= @pins.count %> <i class="icon-map-marker"></i></b></td>
          <td><b><%= @pins.city.count %> <i class="icon-map-marker city"></i></b></td>
          <td><b><%= @pins.town.count %> <i class="icon-map-marker town"></i></b></td>
          <td><b><%= @pins.poi.count %> <i class="icon-map-marker poi"></i></b></td>
        </tr>
      </table>
      <table class="table table-striped">
        <%= render :partial => "pins/side_pin", :collection => @pins, :as => :pin %>
      </table>
    <% end %>
  <% end %>
<% else %>
  <div class="info-center">
    <p class="lead"><%= @user.first_name %> does not share with you.</p>

    <% if Request.where(:user_id => @user.id, :requester_id => current_user.id).exists? %>
      <a class="btn btn-social disabled">Share request already sent</a>
    <% else %>
      <%= link_to "Ask "+@user.first_name+" to share", requests_path(:user => @user, :requester => current_user), :method => :post, :class => "btn btn-social" %>
    <% end %>
  </div>
<% end %>