<div class="info-user img-circle">
  <%= image_tag avatar_link(@user, 120), :class => "img-circle", :data => { :placement => "left", :trigger => "hover", :html => "true", :title => "<strong><i class='icon-trophy'></i> Achievements</strong>", :content => "<ul class='unstyled'><li><span class='badge badge-map info-user-badge'>#{@user.pins_count}</span> <strong>Pins</strong></li> <li><span class='badge badge-map info-user-badge'>#{@user.countries_count}</span> <strong>Countries</strong></li> <li><span class='badge badge-map info-user-badge'>#{@user.continents_count}</span> <strong>Continents</strong></li></ul>" } %>
  <h1><%= @user.full_name %></h1>
  <div id="<%= dom_id(@user) %>"><%= sharing_btn(@user, "btn-mini") %></div>
</div>

<!-- Only if via herald or if user is a friend -->
<% if can? :show, @master %>

  <% if !@pins.empty? %>
    <% content_for :side do %>
      <%= render "pins/side-pins" %>
    <% end %>
  <% end %>
<% else %>
  <div class="info-center">
    <p class="lead"><%= @user.first_name %> does not share with you.</p>

    <% if Request.where(:user_id => @user.id, :requester_id => current_user.id).exists? %>
      <a class="btn btn-social disabled">Share request already sent</a>
    <% else %>
      <%= link_to "Ask "+@user.first_name+" to share", requests_path(:user => @user, :requester => current_user), :method => :post, :class => "btn btn-social" %>
    <% end %>
  </div>
<% end %>