<h1 id="info-user" class="map-info">
  <%= link_to @user.full_name, modal_user_path(@user), :class => "modal-open", :remote => true %>
</h1>

<% if can? :read, @user %>

  <% if @pins.empty? %>
    <div id="info-center" class="map-info">
      <% if @user == current_user %>
        <p class="lead">You have no pin!</p>
        <%= link_to "Add some", pins_url, :class => "btn btn-map" %>
      <% else %>
        <p class="lead no-margin"><%= @user.first_name %> has no pin.</p>
      <% end %>
    </div>
  <% else %>
    <% content_for :side do %>
      <table class="table table-striped">
        <%= render :partial => "pins/side_pin", :collection => @pins, :as => :pin %>
      </table>
    <% end %>
  <% end %>
<% else %>
  <div id="info-center" class="map-info">
    <p class="lead"><%= @user.first_name %> does not share with you.</p>

    <% if Request.where(:user_id => @user.id, :requester_id => current_user.id).exists? %>
      <a class="btn btn-social disabled">Share request already sent</a>
    <% else %>
      <%= link_to "Ask "+@user.first_name+" to share", requests_path(:user => @user, :requester => current_user), :method => :post, :class => "btn btn-social" %>
    <% end %>
  </div>
<% end %>