<% content_for :page_title do %><%= @user.first_name %>'s Pins<% end %>

<!-- Map main element -->
<div id="map"></div>

<!-- Left UI countries -->
<ul id="map-countrieslist">
  <% @countries.each do |country| %>
    <li class="map-countryitem" data-north="<%= country["north"]%>" data-east="<%= country["east"]%>" data-south="<%= country["south"]%>" data-west="<%= country["west"]%>">
      <%= country["name"] %>
    </li>
  <% end %>
</ul>

<!-- User box at bottom right -->
<h1 id="map-infouser" class="map-info">
  <%= link_to @user.full_name, "#userModal", :class => "modal-open", :role => "link", "data-toggle" => "modal" %>
</h1>