<% if can? :read, @user %>
  <a id="map-markers" class="map-nav map-navleft" rel="tooltip" title="Fit Pins" data-placement="right">
    <i class="icon-map-marker"></i>
  </a>
  <a id="map-countries" class="map-nav map-navleft" rel="tooltip" title="Fit Country" data-placement="right">
    <i class="icon-list-alt"></i>
  </a>
  <ul id="map-countrieslist">
    <% @countries.each do |country| %>
      <li class="map-countryitem" data-north="<%= country["north"]%>" data-east="<%= country["east"]%>" data-south="<%= country["south"]%>" data-west="<%= country["west"]%>">
        <%= country["name"] %>
      </li>
    <% end %>
  </ul>
<% end %>
<a id="map-world" class="map-nav map-navleft" rel="tooltip" title="Fit World" data-placement="right">
  <i class="icon-globe"></i>
</a>