<div id="userModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 id="userModalLabel"><%= @user.full_name %> <small><%= "("+@user.age.to_s+" years old)" unless @user.age.nil? %></small></h1>
  </div>
  <div class="modal-body">
    <div><%= image_tag gravatar_url(@user, 165), :class => "img-polaroid" %></div>
    <div>
      <h4><i class="icon-signal"></i> Social</h4>
      <dl class="dl-horizontal">
        <dt><span class="badge badge-social"><%= @user.number_sharing %></span></dt>
        <dd><strong>Sharing</strong></dd>
        <dt><span id="number-sharers" class="badge badge-social"><%= @user.number_sharers %></span></dt>
        <dd><strong id="label-sharers"><%= "Sharer".pluralize(@user.number_sharers) %></strong></dd>
        <dt>&nbsp;</dt>
        <dd>&nbsp;</dd>
      </dl>
    </div>
    <div>
      <h4><i class="icon-signal"></i> Travel</h4>
      <dl class="dl-horizontal">
        <dt><span class="badge badge-map"><%= @user.number_pins %></span></dt>
        <dd><strong><%= "Pin".pluralize(@user.number_pins) %></strong></dd>
        <dt><span class="badge badge-map"><%= @user.number_countries %></span></dt>
        <dd><strong><%= "Country".pluralize(@user.number_countries) %></strong></dd>
        <dt><span class="badge badge-map"><%= @user.number_continents %></span></dt>
        <dd><strong><%= "Continent".pluralize(@user.number_continents) %></strong></dd>
      </dl>
    </div>
  </div>
  <div class="modal-footer">
    <% if @user == current_user %>
      <p>That's you! Yeah really.</p>
    <% else %>
      <% if current_user.isSharingWith(@user) %>
        <p>You're currently sharing with <%= @user.first_name %>.</p>
        <% friendship = current_user.friendships.where(:friend_id => @user.id).first %>
        <%= link_to content_tag("i", "", class: "icon-heart")+" Sharing", friendship_path(friendship), :method => :delete, :remote => true, :class => "btn btn-social btn-unsocial mapuser-btn" %>
      <% else %>
        <p>You do not currently share with <%= @user.first_name %>.</p>
        <%= link_to "Share", friendships_path(:friend => @user), :method => :post, :remote => true, :class => "btn btn-social mapuser-btn" %>
      <% end %>
    <% end %>
  </div>
</div>