<% content_for :page_title do %><%= @user.first_name %>'s Worldmap<% end %>

<!-- Map main element -->
<div id="map"></div>

<!-- Left UI -->
<a id="map-world" class="map-nav map-navleft" rel="tooltip" title="Fit World" data-placement="right">
  <i class="icon-globe"></i>
</a>
<a id="map-markers" class="map-nav map-navleft" rel="tooltip" title="Fit Pins" data-placement="right">
  <i class="icon-map-marker"></i>
</a>
<a id="map-countries" class="map-nav map-navleft" rel="tooltip" title="Fit Country" data-placement="right">
  <i class="icon-list-alt"></i>
</a>

<!-- Left UI countries -->
<ul id="map-countrieslist">
  <% @countries.each do |country| %>
    <li class="map-countryitem" data-north="<%= country["north"]%>" data-east="<%= country["east"]%>" data-south="<%= country["south"]%>" data-west="<%= country["west"]%>">
      <%= country["name"] %>
    </li>
  <% end %>
</ul>

<!-- Right UI -->
<h1 id="map-infouser" class="map-info">
  <%= link_to @user.full_name, "#userModal", :class => "map-modalopen", :role => "link", "data-toggle" => "modal" %>
</h1>

<!-- Center information -->
<div id="map-infocenter" class="map-info">
  <p class="lead"><%= @user.first_name %> does not share with you.</p>
  <%= link_to "Ask "+@user.first_name+" to share", "#", :class => "btn btn-social" %>
</div>

<!-- Include modals -->
<%= render "users/show/user_modal" %>