<% content_for :page_title do %><%= @user.first_name %>'s Pins<% end %>

<% content_for :side do %>
  <table class="table table-striped table-hover">
    <% @pins.each do |pin| %>
      <tr>
        <td>
          <p>
            <%= flag_tag(pin) %>
            <strong style="font-size:18px;"><%= pin.title %></strong>
          </p>
          <div class="btn-group">
            <button style="min-width:45px" class="btn btn-tool btn-mini"><%= pin.photos_count %> <i class="icon-camera-retro"></i></button>
            <button style="min-width:45px" class="btn btn-tool btn-mini"><%= pin.comments_count %> <i class="icon-comments"></i></button>
            <button style="min-width:45px" class="btn btn-tool btn-mini"><%= pin.logpages_count %> <i class="icon-book"></i></button>
            <button style="min-width:45px" class="btn btn-map btn-mini"><i class="icon-map-marker"></i></button>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<!-- User box at bottom right -->
<h1 id="info-user" class="map-info">
  <%= link_to @user.full_name, modal_user_path(@user), :class => "modal-open", :remote => true %>
</h1>

<!-- Include all user intefaces -->
<%= render "ui_controls" %>
<%= render "ui_pinsactions" %>
<%= render "ui_center" %>

<%= render "modals" %>