<% content_for :page_title do %><%= @user.first_name %> <%= @user.last_name %><% end %>

<%= render "users/show/header" %>

<h2><i class="icon-list-alt"></i>&nbsp;&nbsp;<%= @user.first_name %>'s Locations</h2>
<table class="table table-striped user-profile-table">
  <tbody>
    <% if @user.locations.empty? %>
      <p>No location added.</p>
    <% else %>
      <% @user.locations.each do |location| %>
        <tr>
          <td><%= location.title %></td>
          <td><%= image_tag("flags/"+location.country_code.downcase+".png") %>&nbsp;<%= location.country_name %></td>
          <td>
            <%= link_to '0 <i class="icon-camera"></i>'.html_safe, user_location_path(@user, location), :class => 'btn btn-mini btn-alt', :rel => 'tooltip', :title => 'Galleries' %>
            <%= link_to '0 <i class="icon-book"></i>'.html_safe, user_location_path(@user, location), :class => 'btn btn-mini btn-alt', :rel => 'tooltip', :title => 'Logpages' %>
            <%= link_to '0 <i class="icon-comment"></i>'.html_safe, user_location_path(@user, location), :class => 'btn btn-mini btn-alt', :rel => 'tooltip', :title => 'Comments' %>
          </td>
          <td>
            <%= link_to '<i class="icon-map-marker icon-white"></i>&nbsp;&nbsp; World Map'.html_safe, user_locations_path(@user, :l => location.id), :class => 'btn btn-mini btn-map' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
