<%= render "shall_show" %>

<!-- Left UI -->
<a id="map-world" class="map-nav map-navleft" rel="tooltip" title="Fit World" data-placement="right">
  <i class="icon-globe"></i>
</a>
<a id="map-markers" class="map-nav map-navleft" rel="tooltip" title="Fit Pins" data-placement="right">
  <i class="icon-map-marker"></i>
</a>
<a id="map-countries" class="map-nav map-navleft" rel="tooltip" title="Fit Country" data-placement="right">
  <i class="icon-list-alt"></i>
</a>

<!-- Right UI -->
<a id="map-refresh" class="map-nav map-navright" rel="tooltip" title="Update Pins and Counters" data-placement="left">
  <i class="icon-refresh"></i>
</a>
<a id="map-bigcity" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Big city' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>
<a id="map-smallcity" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Small city' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>
<a id="map-pointofinterest" class="map-nav map-navright" rel="tooltip" title="Show/hide 'Point of interest' Pins" data-placement="left">
  <i class="icon-eye-open"></i>
</a>
<%= link_to content_tag("i", "", class: "icon-list-alt"), "#pinslistModal", :id => "map-pinslist", :class => "modal-open map-nav map-navright", :rel => "tooltip", :title => "Show a list of Pins", "data-placement" => "left", :role => "link", "data-toggle" => "modal" %>

<!-- Center information -->
<div id="map-infocenter" class="map-info">
  <p class="lead no-margin"><%= @user.first_name %> has no pin.</p>
</div>

<!-- Include modals -->
<%= render "user_modal" %>
<%= render "pinslist_modal" %>
<%= render "pin_modal" %>