<% content_for :page_title do %><%= @user.first_name %>'s Pins<% end %>

<!-- Map main element -->
<div id="map"></div>

<!-- User box at bottom right -->
<h1 id="map-infouser" class="map-info">
  <%= link_to @user.full_name, "#userModal", :class => "modal-open", :role => "link", "data-toggle" => "modal" %>
</h1>

<!-- Include all user intefaces -->
<%= render "ui_left" %>
<%= render "ui_right" %>
<%= render "ui_center" %>

<%= render "modals" %>
<%= render "user_modal" %>