<% content_for :page_title do %><%= @user.first_name %> <%= @user.last_name %><% end %>

<%= render "users/show/header" %>

<h2><i class="icon-list-alt"></i>&nbsp;&nbsp;<%= @user.first_name %>'s Locations</h2>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul id ="pins-toolstabs" class="nav nav-tabs">
    <li class="active"><a href="#bigcity" data-toggle="tab"><b><%= image_tag(@big_cities.first.locategory.marker_path, :width => "15") %> Big City (<%= @big_cities.count %>)</b></a></li>
    <li><a href="#smallcity" data-toggle="tab"><b><%= image_tag(@small_cities.first.locategory.marker_path, :width => "15") %> Small City (<%= @small_cities.count %>)</b></a></li>
    <li><a href="#pointofinterest" data-toggle="tab"><b><%= image_tag(@points_of_interest.first.locategory.marker_path, :width => "15") %> Point of Interest (<%= @points_of_interest.count %>)</b></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="bigcity">
      <table class="table table-striped user-locationstable">
        <tbody>
          <% if @big_cities.empty? %>
            <p>No location added.</p>
          <% else %>
            <% @big_cities.each do |location| %>
              <%= render "users/show/location", :location => location %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="smallcity">
      <table class="table table-striped user-locationstable">
        <tbody>
          <% if @small_cities.empty? %>
            <p>No location added.</p>
          <% else %>
            <% @small_cities.each do |location| %>
              <%= render "users/show/location", :location => location %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="pointofinterest">
      <table class="table table-striped user-locationstable">
        <tbody>
          <% if @points_of_interest.empty? %>
            <p>No location added.</p>
          <% else %>
            <% @points_of_interest.each do |location| %>
              <%= render "users/show/location", :location => location %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
