<% content_for :page_title do %> - <%= @user.first_name %> <%= @user.last_name %><% end %>

<%= render "users/show/header" %>

<h2><i class="icon-list-alt"></i>&nbsp;&nbsp;<%= @user.first_name %>'s Locations</h2>
<table class="table table-striped user-profile-table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Country</th>
      <th>Galleries</th>
      <th>Comments</th>
      <th>Logpages</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.locations.each do |location| %>
      <tr>
        <td><%= location.title %></td>
        <td><%= image_tag("flags/"+location.country_code.downcase+".png") %>&nbsp;<%= location.country_name %></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>
          <%= link_to '<i class="icon-info-sign icon-white"></i>&nbsp;&nbsp;More Info'.html_safe, user_path(@user), :class => 'btn btn-info' %>
        </td>
        <td>
          <a class="btn btn-primary" href=""><i class="icon-map-marker icon-white"></i>&nbsp;&nbsp;Show on Map</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
