<% content_for :page_title do %>Password reset<% end %>

<div class="hero-unit">
  <h1>Bad things happen..</h1>
  <p>
    If you want to reset your password, please fill your email address and click "Reset".
  </p>
</div>

<div>
  <%= devise_error_messages! %>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'well form-inline' }) do |f| %>

  <%= f.input_field :email, :class => 'input-large', :placeholder => 'Email' %>
  <%= f.submit "Reset", :class => 'btn btn-primary' %>

<% end %>

<%= render "devise/shared/links" %>
