<% if user_signed_in? %>
  <ul class="nav pull-right">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li id="global-menufirst">
          <%= link_to(profile_path) do %>
            <%= image_tag gravatar_url(current_user, 28), :class => 'img-polaroid' %>
              <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>
              <p>View my profile</p>
          <% end %>
        </li>
        <li class="divider"></li>
        <li><%= link_to '<i class="icon-map-marker"></i> Manage Pins'.html_safe, locations_path %></li>
        <li><%= link_to '<i class="icon-heart"></i> Manage Friends'.html_safe, friendships_path %></li>
        <li><%= link_to '<i class="icon-retweet"></i> Manage Access'.html_safe, access_path %></li>
        <li><%= link_to '<i class="icon-cog"></i> Manage Account'.html_safe, edit_user_registration_path %></li>
        <li><%= link_to '<i class="icon-off"></i> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </ul>
<% end %>