<%= form_for(@accesstoken) do |f| %>
  <% if @accesstoken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accesstoken.errors.count, "error") %> prohibited this accesstoken from being saved:</h2>

      <ul>
      <% @accesstoken.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
