<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @accesstoken.value %>
</p>

<p>
  <b>Type:</b>
  <%= @accesstoken.type %>
</p>

<p>
  <b>User:</b>
  <%= @accesstoken.user_id %>
</p>


<%= link_to 'Edit', edit_accesstoken_path(@accesstoken) %> |
<%= link_to 'Back', accesstokens_path %>
