<%= simple_form_for @logbook, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :description %>
  <%= f.input :location_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                logbooks_path, :class => 'btn' %>
  </div>
<% end %>
