%tr{:class => "request", :id => "#{dom_id(request)}"}
  %td= image_tag avatar_link(request.requester, 20), :class => "img-polaroid"
  %td
    %strong= link_to request.requester.full_name, user_path(request.requester)
  %td
    -if request.requester.isSharingWith(current_user)
      %span.label.label-social Sharer
  %td
    = link_to content_tag("i", "", :class => "icon-ok-sign"), approve_request_path(request, :page => @page), :method => :post, :remote => true, :class => "btn btn-social"
    = link_to content_tag("i", "", :class => "icon-minus-sign"), request_path(request, :page => @page), :method => :delete, :remote => true, :class => "btn btn-social"