<% content_for :page_title do %><%= current_user.first_name %>'s Friends<% end %>

<div class="page-header">
  <h1>Your Friends <small>A list of all your Sharing &amp; Sharers</small></h1>
</div>

<p class="friendships-stats">
  You currently have <span id="friendships-numbersharing" class="badge badge-social"><%= current_user.number_sharing %></span>&nbsp;
  <a rel="tooltip" title="A person who can see your worldmap." class="friendships-sharedef"><strong>Sharing</strong></a>&nbsp;
  and <span id="friendships-numbersharers" class="badge badge-social"><%= current_user.number_sharers %></span>&nbsp;
  <a rel="tooltip" title="A person sharing his worldmap with you." class="friendships-sharedef"><strong><%= "Sharer".pluralize(current_user.number_sharers) %></strong></a>.
</p>

<div>
  <%= render "shared/users_grid", :mates => @mates, :caller => "friendships" %>
</div>