<% if pins.empty? %>
  <p>No pin added.</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tools</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% pins.each do |pin| %>
        <tr id="<%= dom_id(pin) %>">
          <td><%= pin.title %></td>
          <td><%= image_tag(pin.locategory.marker_path, :width => "15") %> <%= pin.locategory.name %></td>
          <td><%= image_tag("flags/"+pin.country_code.downcase+".png") %>&nbsp;<%= pin.country_name %></td>
          <td><%= pin.short_lat %>&deg;</td>
          <td><%= pin.short_lon %>&deg;</td>
          <td>
            <%= link_to "<i class=\"icon-camera\"></i>".html_safe, pins_path, :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Manage Galleries" %>
            <%= link_to "<i class=\"icon-book\"></i>".html_safe, pins_path, :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Manage Logbook" %>
            <%= link_to "<i class=\"icon-comment\"></i>".html_safe, pins_path, :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Manage Comments" %>
          </td>
          <td>
            <%= link_to "<i class=\"icon-edit\"></i>&nbsp;&nbsp;Edit".html_safe, edit_pin_path(pin), :class => "btn btn-mini btn-map" %>
            <%= link_to "<i class=\"icon-trash\"></i>&nbsp;&nbsp;Remove".html_safe, pin_path(pin), :method => :delete, :remote => true, :class => "btn btn-mini btn-map btn-remove", :confirm => "All galleries/logbook/comments will also be deleted! Sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>