<table class="table table-striped table-condensed">
  <tbody>
    <% if pins.empty? %>
      <p>No pin added.</p>
    <% else %>
      <% pins.each do |pin| %>
        <tr>
          <td style="width: 50%">
            <a rel="tooltip" title="<%= pin.country_name %>" data-placement="left"><%= image_tag("flags/"+pin.country_code.downcase+".png", :width => 12) %></a><strong> <%= pin.title %></strong>
          </td>
          <td id="user-toolsunify" style="width: 50%">
            <%= link_to (pin.galleries_count+"&nbsp;<i class=\"icon-camera\"></i>").html_safe, user_pin_path(@user, pin), :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Galleries" %>
            <%= link_to (pin.logpages_count+"&nbsp;<i class=\"icon-book\"></i>").html_safe, user_pin_path(@user, pin, :t => "l"), :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Logbook" %>
            <%= link_to (pin.comments_count+"&nbsp;<i class=\"icon-comment\"></i>").html_safe, user_pin_path(@user, pin, :t => "c"), :class => "btn btn-mini btn-tool", :rel => "tooltip", :title => "Comments" %>
            <%= link_to "<i class=\"icon-map-marker icon-white\"></i>".html_safe, user_pins_path(@user, :p => pin.id), :class => "btn btn-mini btn-map", :rel => "tooltip", :title => "Locate" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>