<div class="logpage-form">
  <%= simple_form_for [@pin, logpage], :remote => true do |f|  %>
    <%= f.input :title, :label => false, :input_html => { :class => "lead" } %>
    <div class="row">
      <div class="span10">
        <%= f.input :content, :label => false, :input_html => { :class => "lead" } %>
      </div>
      <div class="span2">
        <p><%= f.button :submit, "Save", :class => "btn btn-tool" %></p>
        <p><%= link_to "Cancel", cancel_pin_logpages_path(@pin, :id => logpage.id), :remote => true, :class => "btn btn-small btn-crud" %></p>
      </div>
    </div>
  <% end %>
</div>