<div id="addLogpageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addLogpageModalLabel" aria-hidden="true">
  <%= simple_form_for [@pin,@logpage], :remote => true do |f| %>
    <div class="modal-header">
      <h2 id="addLogpageModalLabel">Add a page<small> <%= @pin.title %>'s Logbook</small></h2>
    </div>
    <div class="modal-body">
      <p><%= f.input :title, :input_html => { :class => "lead", :width => "80%" }, :label => "<strong>Title</strong>" %></p>
      <p><%= f.input :content, :input_html => { :class => "lead" }, :label => "<strong>Content</strong>" %></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-other btn-small" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= f.button :submit, "Add", :class => "btn btn-tool btn" %>
    </div>
  <% end %>
</div>