<% content_for :page_title do %><%= @pin.title %>'s Logbook<% end %>

<div class="page-header">
  <h1 style="display:inline">Logbook <small><%= @pin.title %></small></h1>&nbsp;
  <% if @pin.locategory_hook == 2 %>
    <%= link_to "Return to pins", pins_path(:tab => "s"), :class => "btn btn-map btn-small" %>
  <% elsif @pin.locategory_hook == 3 %>
    <%= link_to "Return to pins", pins_path(:tab => "p"), :class => "btn btn-map btn-small" %>
  <% else %>
    <%= link_to "Return to pins", pins_path, :class => "btn btn-map btn-small" %>
  <% end %>
</div>

<p class="well">
  <%= link_to content_tag("i", "", class: "icon-plus-sign")+" Add a page", "#addLogpageModal", :class => "btn btn-tool modal-open", "data-toggle" => "modal", :role => "button" %>
</p>

<div id="logpages">
  <%= render(:partial => "captain_logpage", :collection => @logpages, :as => :logpage) || content_tag("p", "You have not yet added pages.", :class => "lead empty-set") %>
</div>
 
<!-- Include modals -->
<%= render "new_modal" %>