<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @logpage.title %>
</p>

<p>
  <b>Content:</b>
  <%= @logpage.content %>
</p>

<p>
  <b>Logbook:</b>
  <%= @logpage.logbook_id %>
</p>

<p>
  <b>Category:</b>
  <%= @logpage.category_id %>
</p>


<%= link_to 'Edit', edit_logpage_path(@logpage) %> |
<%= link_to 'Back', logpages_path %>
