<h1>Listing continents</h1>

<% @continents.each do |continent| %>
  <b><%= continent.name %></b>
  <%= link_to 'Show', continent %>
  <%= link_to 'Edit', edit_continent_path(continent) %>
  <%= link_to 'Destroy', continent, confirm: 'Are you sure?', method: :delete %>
  <br />
  <table>
    <% continent.countries.each do |country| %>
      <tr><td><%= country.name %></td></tr>
    <% end %>
  </table>
  <br />
<% end %>

<br />

<%= link_to 'New Continent', new_continent_path %>
