= content_for :page_title do
  Welcome

= render "devise/shared/note"
.hero-unit
  %h1
    = Appetizer.appname
    , quesako?
  %p
    = Appetizer.appname
    allows you to create a worldmap of the places you've visited with photos & comments and let you share it with friends and family.
  %p= link_to "New to Kajipin? Sign up", new_user_registration_path, :class => "btn btn-social btn-large"
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :method => :post, :class => "well form-inline" }) do |f|
  = f.email_field :email, :class => "input-large", :placeholder => "Email"
  = f.password_field :password, :class => "input-large", :placeholder => "Password"
  = f.submit "Sign in", :class => "btn btn-social"
  -if devise_mapping.rememberable?
    %p
      %label.checkbox
        = f.check_box :remember_me
        = f.label :remember_me
= render "devise/shared/links"