<div class="row">
  <div class="span8 offset2">
    <% if @comments.empty? %>
      <p class="lead">No comment yet</p>
    <% else %>
      <% @comments.each do |comment| %>
        <blockquote>
          <p><%= comment.value %></p>
          <small>
            <%= link_to comment.user.full_name, user_path(comment.user) %> (<%= comment.created_at.to_formatted_s(:long_ordinal) %>)
          </small>
        </blockquote>
      <% end %>
    <% end %>
  </div>
  <div class="span6 offset3 location-add-comment">
    <%= simple_form_for @comment do |c| %>
      <%= c.input :value, :label => 'Share your thoughts', :label_html => { :class => 'lead' }, :required => false %>
      <%= c.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= c.input :location_id, :as => :hidden, :input_html => { :value => @location.id } %>
      <%= c.button :submit, 'Comment', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>