<div class="page-header profile-page">
  <div class="row">
    <div class="span8">
      <h1><%= @location.title %> - <%= @location.country_name %>&nbsp;<%= image_tag("flags/"+@location.country_code.downcase+".png") %></h1>
      <h2>by <%= link_to @location.user.first_name, user_path(@user) %></h2>
    </div>
    <div class="span4">
      <p>
        <%= link_to '<i class="icon-map-marker icon-white"></i>&nbsp;&nbsp;World Map'.html_safe, user_locations_path(@user, :l => @location.id), :class => 'btn btn-large btn-map' %>
      </p>
    </div>
  </div>
</div>