<% content_for :page_title do %><%= @pin.title %>'s Galleries<% end %>

<div class="page-header">
  <h1 style="display:inline">Galleries <small><%= @pin.title %></small></h1>&nbsp;
  <%= link_to "Return to pins", pins_path, :class => "btn btn-map btn-small" %>
</div>

<p class="well">
  <%= link_to content_tag("i", "", class: "icon-plus-sign")+" Add a gallery", "#", :class => "btn btn-tool" %>
</p>

<div id="logpages">
  <%= render(:partial => "manage_gallery", :collection => @galleries, :as => :gallery) || content_tag("p", "You have not yet added galleries.", :class => "lead empty-set") %>
</div>