<% content_for :page_title do %>Edit location - <%= @location.title %><% end %>

<div class="page-header">
  <h1>Edit location <small><%= @location.title %> (<%= @location.country_name %>)</small></h1>
</div>

<h2>Pin</h2>
<div class="well">
  <p><strong>You can change the type of pin for your location :</strong></p>
  <div id="location-locategory" class="btn-group" data-toggle="buttons-radio">
    <% @locategories.each do |locategory| %>
      <button type="radio" class="btn location-locategorybtn <%= 'active' if locategory.id == @location.locategory_id %>" value="<%= locategory.id %>">
        <%= image_tag(locategory.marker_path, :width => "20") %>
        <%= locategory.name %>
      </button>
    <% end %>
  </div>
</div>
<%= simple_form_for(@location) do |f| %>

  <h2>Subtitle <small>Optional</small></h2>
  <div class="well">
    <p><strong>Feel free to add a personal subtitle to this location :</strong></p>
    <%= f.hidden_field :locategory_id %>
    <%= f.input :subtitle, :placeholder => 'Your subtitle here', :label => false %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", locations_path, :class => 'btn btn-medium' %>
    <%= f.submit "Save", :id => 'location-locategoryedit', :class => 'btn btn-large btn-crud' %>
  </div>
<% end %>