<% content_for :page_title do %>Manage <%= @user.first_name %>'s Locations<% end %>

<div class="page-header">
  <h1>Manage Locations <small><%= @user.first_name %>'s Locations</small></h1>
</div>

<%= form_tag('locations/new', :method => "get", :class => "well form-inline") do %>
  <p><strong>Simply specify location's name to add it.</strong></p>
  <%= text_field_tag(:q, nil, :class => "input-large", :placeholder => "Name") %>
  <%= button_tag '<i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;Add'.html_safe, :class => "btn btn-crud" %>
<% end %>

<% if @locations.empty? %>
  <p>No location added.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Location</th>
        <th>Subtitle</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tools</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.title %></td>
          <td><%= location.subtitle %></td>
          <td><%= image_tag("flags/"+location.country_code.downcase+".png") %>&nbsp;<%= location.country_name %></td>
          <td><%= location.short_lat %>&deg;</td>
          <td><%= location.short_lon %>&deg;</td>
          <td>
            <%= link_to '<i class="icon-camera icon-white"></i>'.html_safe, locations_path, :class => 'btn btn-mini btn-tool', :rel => 'tooltip', :title => 'Manage Galleries' %>
            <%= link_to '<i class="icon-book icon-white"></i>'.html_safe, locations_path, :class => 'btn btn-mini btn-tool', :rel => 'tooltip', :title => 'Manage Logbook' %>
            <%= link_to '<i class="icon-comment icon-white"></i>'.html_safe, locations_path, :class => 'btn btn-mini btn-tool', :rel => 'tooltip', :title => 'Manage Comments' %>
          </td>
          <td>
            <%= link_to '<i class="icon-pencil icon-white"></i>&nbsp;&nbsp;Edit'.html_safe, locations_path, :class => 'btn btn-mini btn-crud' %>
            <%= link_to '<i class="icon-remove icon-white"></i>&nbsp;&nbsp;Remove'.html_safe, location_path(location), :method => :delete, :class => 'btn btn-mini btn-crud', :confirm => "All galleries/logbook/comments will also be deleted! Sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>