<% content_for :page_title do %>Add Pin<% end %>

<div class="page-header">
  <h1>Add Pin <small>Nearly done</small></h1>
</div>

<% if @geos["totalResultsCount"] == 0 %>
  <p><strong>No result found.</strong></p>
<% else %>
  <h2>Pin</h2>
  <div class="well">
    <p><strong>First, you've to choose which type of location you want to add :</strong></p>
    <div id="location-locategory" class="btn-group" data-toggle="buttons-radio">
      <% @locategories.each do |locategory| %>
        <button type="radio" class="btn location-locategorybtn <%= 'active' if locategory.default == true %>" value="<%= locategory.id %>">
          <%= image_tag(locategory.marker_path, :width => "20") %>
          <%= locategory.name %>
        </button>
      <% end %>
    </div>
  </div>

  <h2>Position</h2>
  <div class="well">
    <p><strong>Now choose your location from results :</strong></p>
    <div class="form-actions">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Area</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @geos["geonames"].each do |geo| %>
            <tr>
              <td><%= geo["toponymName"] %></td>
              <td><%= image_tag("flags/"+geo["countryCode"].to_s.downcase+".png") %>&nbsp;<%= geo["countryName"] %></td>
              <td><%= geo["adminName1"] %></td>
              <td><%= '%.3f' % geo["lat"] %>&deg;</td>
              <td><%= '%.3f' % geo["lng"] %>&deg;</td>
              <td><%= geo["fcodeName"].to_s.capitalize %></td>
              <td><%= link_to '<i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;Add this'.html_safe, locations_path(:title => geo["toponymName"], :latitude => geo["lat"], :longitude => geo["lng"], :country_name => geo["countryName"], :country_code => geo["countryCode"]), :method => :post, :class => 'btn btn-mini btn-map location-addthis' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p id="location-ccby">
        All data informations are provided by <%= link_to 'GeoNames', 'http://www.geonames.org/' %> under <%= link_to 'CC BY 2.5', 'http://creativecommons.org/licenses/by/2.5/' %>
      </p>
    </div>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to "Cancel", locations_path, :class => 'btn' %>
</div>