<% content_for :page_title do %><%= @location.title %> by <%= @location.user.first_name %><% end %>

<%= render "locations/show/header" %>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs loc-profile-tabs">
    <li class="active"><a href="#tab-loc-1" data-toggle="tab"><b><i class="icon-list-alt"></i> Galleries (0)</b></a></li>
    <li><a href="#tab-loc-2" data-toggle="tab"><i class="icon-list-alt"><b></i> Logpages (0)</b></a></li>
    <li><a href="#tab-loc-3" data-toggle="tab"><i class="icon-list-alt"><b></i> Comments (<%= @comments.count %>)</b></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-loc-1">
      <p>--</p>
    </div>
    <div class="tab-pane" id="tab-loc-2">
      <%= render "locations/show/logpages" %>
    </div>
    <div class="tab-pane" id="tab-loc-3">
      <%= render "locations/show/comments" %>
    </div>
  </div>
</div>
