<!DOCTYPE html>
<html lang="en">
<%= render "shared/head" %>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to (Appetizer.appname+" <span id=\"betasig\">Alpha</span>").html_safe, user_path(current_user), :class => "brand" %>
        <% else %>
          <%= link_to (Appetizer.appname+" <span id=\"betasig\">Alpha</span>").html_safe, root_path, :class => "brand" %>
        <% end %>
        <div class="nav">
          <li class="divider-vertical"></li>
        </div>
        <%= render "shared/not_logged_menu" %>
        <%= render "shared/user_menu" %>
        <%= render "shared/search_bar" %>
      </div>
    </div>
  </div>