<% if user_signed_in? %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to Appetizer.appname+" "+content_tag("span", "Alpha", id: "betasig"), user_path(current_user), :class => "brand" %>
        <ul class="nav">
          <li class="divider-vertical"></li>
        </ul>
        <%= render "layouts/navbar_user_menu" %>
        <%= render "layouts/navbar_inbox" %>
        <%= render "layouts/navbar_search_bar" %>
      </div>
    </div>
  </div>
<% else %>
  <h1 class="notlogged-title"><%= Appetizer.appname %> <small>Alpha</small></h1>
<% end %>