<%= render "layouts/global_top" %>

  <div class="container">
    <%= render "shared/show_flash", :layout => "application" %>
    <%= yield %>

    <ul class="inline copyright">
      <li>&copy; 2013 <%= Appetizer.appname %></li>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Terms", "/tos" %></li>
    </ul>
  </div>

<%= render "layouts/global_bottom" %>