<!DOCTYPE html>
<html style="height: 100%">
<%= render "shared/head" %>
<body style="height: 100%">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render "shared/collapse" %>
        <a class="brand" href="/"><b><i class="icon-map-marker"></i> Sloppin</b></a>
        <div class="nav-collapse">
          <%= render "shared/map_extra_menu"%>
          <%= render "shared/not_logged_menu" %>
          <%= render "shared/tools_menu" %>
          <%= render "shared/user_menu" %>
          <%= render "shared/search_bar" %>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>