<%= render "layouts/global_top" %>
  
  <%= render "layouts/show_flash", :layout => "map" %>
  
  <!-- Main element -->
  <div id="main">
    <div id="side" class="hide">
      <div class="in-side">
        <%= yield :side %>
      </div>
    </div>
    <div id="map">
      <%= yield %>
      <p class="map-copyright"><%= link_to "Map Terms & Feedback", "http://mapbox.com/about/maps/", :target => "_blank" %></p>
    </div>
  </div>

<%= render "layouts/global_bottom" %>